img {
    width: 1000px;
    height: auto;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

tr.analogy {
    background-color: tan;
}